*{
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.hom1 img{
    width: 100%;
    height: 100%;
    margin-top: 30px;
}
.hom2-1 img{
    width: 100%;
    height: 100%;
}
.hom2-2 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 50px;
}
.hom2-2 img{
    width: 100%;
    height: 100%;
}
.hom2-2 img:hover {
    transform: scale(1.1); 
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.hom3 img{
    width: 100%;
    height: 100%;
}
.hom4 img{
    width: 100%;
    height: 100%;
    margin-top: -10px;
}
.hom5 img{
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 400px) {
    .hom2-2{
        margin-left: 0;
    }
}




.hom6{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper {
    width: 100%;
    position: relative;
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
   background: transparent;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: 22px;
  }
  .wrapper i:last-child{
    right: 22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card .img img {
    width:98%;
    height: 98%;
    object-fit: cover;
  }
  
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }
.hom7{
    background-color: rgb(246, 243, 243);
    margin: 20px 200px;
}
.hom7 p{
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding-top: 70px;
}
.hom7-1 {
    width: 100%;
    height: 400px;
}

.hom7-1>div {
    width: 100%;
    margin: auto;
    padding-top: 50px;
    gap: 20px;
    display: flex;
    justify-content: center;
}
.hom7-1>div>select {
    padding: 15px 130px;
    border-radius: 5px;
    border: none;
    color: #b6b4b4;
    background-color: #ffffff;
}
.hom7 #a1,#a2{
    padding: 15px 115px;
    border-radius: 5px;
    border: none;
    color: #b6b4b4;
    background-color: #ffffff;
}
.hom7 #a3 , #a4, #a5{
    padding: 13px 71px;
    border-radius: 5px;
    border: none;
    color: #b6b4b4;
    background-color: #ffffff;
}
#btn-4{
    color:white ;
    background-color: #00525d;
    padding: 10px 30px;
    font-size: 20px;
    /* margin: 0px 0px 70px 450px ; */
    margin-bottom: 5%;
    margin-left: 40%;
}
@media only screen and (max-width: 400px) {
    .hom7 p{
        font-size: 25px;
        display: flex;
        justify-content: center;
    }
    .hom7{
        width: 100%;
        margin: 0px;
    }
    #btn-4{
        margin-left: 130px;
    }
    .hom7 #a1,#a2{
        padding: 10px 4px;
    }
    .hom7 #a3 , #a4, #a5{
        padding: 5px 0px;
    }
    .hom7-1>div>select{
        padding: 10px 18px;
    }
    }
    #btn-4:active {
        color: orange; 
    }