#heading{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    align-items: center;
    padding-top: 25px;
    height: 200px;
}
#heading h1{
    font-size: 5rem;
    font-family:'Times New Roman', Times, serif
}
#heading h3{
    font-weight: 400;
    color: #00525d;
}
#containerBtn{
    text-align: right;
}
#containerBtn > .btn{
    background-color: #f9fded;
    width: 120px;
    border-radius: 0;
}

#filters{
    background-color: whitesmoke;
    padding: 10px;
    height: fit-content;
}
.filter_number > a{
    display: flex;
    justify-content: space-between;
}
.filter_number > .collapseEx > .card{
    background-color: whitesmoke;
    border: none;
    text-align: left;
}
#card-list > .row{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; */
    padding-left: 10px;
}
#card-list > .row > .card{
    border-radius: 0;
    padding: 10px;
    border: 3px solid whitesmoke;
}
#card-list > .row > .card .icon{
    font-size: x-large;
    text-align: right;
    
}
#card-list > .row > .card .icon .fa-heart{
    font-weight: 100;
    font-size: 20px;
    color: #00525d;
}
.changeHeartColor{
    font-weight: 900;
    color: red;
    
}
#card-list > .row > .card .image{
    width: 100px;
    height: 150px;
}
#card-list > .row > .card .price_div{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
#card-list > .row > .card .price_div .MRP{
    text-decoration: line-through;
    opacity: 0.5;
}
#card-list > .row > .card .price_div .price{
    color: #00525d;
    font-weight: 500;
}
#card-list > .row > .card .addToCart{
    width: 100%;
    background-color: #00525d;
    color: white;
    height: 40px;
    border: none;
}

#pagination-wrapper{
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    column-gap:10px;
}
#pagination-wrapper .buttons{
    border: none;
    background-color: whitesmoke;
    color: #00525d;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    
    
}